.Main {
    -fx-background-color: skyblue;
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 8;
    -fx-font-weight: bold;
}

.Subject {
    -fx-fill: red;
    -fx-font-weight: bold;
    -fx-stroke: gold;
    -fx-stroke-width: 1;
    -fx-font-size: 40;
    -fx-alignment: center;
}

.Button {
    -fx-background-color: darkblue;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-font-weight:  bold;
    -fx-font-size: 16;
    -fx-padding: 15;
}
